.card {
  height: 350px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 1px;
  left: 10px; 
  h2 {
    font-size: 24px;
    p {
      font-size: 13px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-weight: normal;
    }
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
