<!-- About -->
<section id="me" class="section section-solid">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <h3 class="section-title">Me</h3>
    <div class="section-title-border"></div>
  </div>
</div>

<div class="row mt20">
 <div class="col-sm-4">
  <img src="images/daniel.jpg" class="img-responsive about-img" />
</div>
<div class="col-sm-8">
  <div class="about">
    <p class="lead">
     I'm a Sociologist that shifted to building web applications using Ruby on Rails.
   </p>
   <p>
    After graduating in Sociology on a thesis regarding young entrepreneurs in Shenzhen <em>(considered the Silicon Valley of hardware)</em> my interest in the the tech- and startup scene was sparked. Upon following a traineeship towards social entrepreneurship and starting my own social startup I decided I wanted to learn how to code. <a href="http://www.lewagon.org/en">Le Wagon</a> Dev bootcamp gave me the tools to work in a tech-company as a developer or to take my own startup to the next level.
  </p>
</div>
</div>
</div>
</section>
