<!-- Contact -->
<section id="contact" class="section">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <h3 class="section-title">Contact</h3>
    <div class="section-title-border"></div>
  </div>
</div>
<div class="row">
 <div class="col-sm-6">
  <p>
   Messages sent with this contact form go directly into my inbox. It is the best way to contact me.
 </p>
 <p>
  I am based in Amsterdam and available for remote freelance work.
</p>
<ul class="list-contacts">
 <li><i class="fa fa-mobile-phone"></i> (+31) 639426610</li>
 <li><i class="fa fa-map-marker"></i> Tweede Oosterparkstraat, 125a<br> Amsterdam, 1073HZ</li>
 <li><i class="fa fa-envelope-o"></i> <a href="mailto:d_gordon1@icloud.com">d_gordon1@icloud.com</a></li>
</ul>
</div>
<div class="col-sm-6">
  <form class="form-horizontal" action="https://formspree.io/d_gordon1@icloud.com" method="POST" role="form" id="contactForm">
   <div class="form-group">
    <div class="col-sm-6">
     <input type="text" name="name" class="form-control" placeholder="Name">
   </div>
   <div class="col-sm-6">
     <input type="text" name="_replyto" class="form-control" placeholder="Email">
   </div>
 </div>
 <div class="form-group">
  <div class="col-sm-12">
   <textarea name="message" class="form-control" rows="8" placeholder="Message"></textarea>
 </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <input type="text" name="_gotcha" style="display:none">
    <button type="submit" value="send" class="btn btn-theme ladda-button" data-style="expand-left">
     <span class="ladda-label">Submit</span>
   </button>
 </div>
</div>
<input type="text" name="_gotcha" style="display:none" />
</form>
</div>
</div>
</div>
</section>
