<!-- Education -->

<section id="education" class="section section-solid">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <h3 class="v-heading section-title"><i class="fa fa-graduation-cap"></i> Education</h3>
    <div class="col-sm-12">
      <div class="section-title-border"></div>

      <ul class="v-timeline mt50">
        <li>
          <time class="v-time"><span>2016</span></time>
          <!-- <div class="v-icon" data-toggle="collapse" data-target="#toggle-6"><i class="fa fa-minus"></i></div> -->
          <div class="v-label">
           <h4 data-toggle="collapse" data-target="#toggle-6">Le Wagon - Fullstack Dev
            Bootcamp</h4>
            <p id="toggle-6" class="collapse in"><a href="http://www.lewagon.org/en">Le Wagon</a> is a coding school for entrepreneurs and creative people, Amsterdam, The Netherlands.</p>
          </div>
        </li>
        <li>
          <time class="v-time"><span>2014-2015</span></time>
          <!-- <div class="v-icon" data-toggle="collapse" data-target="#toggle-7"><i class="fa fa-plus"></i></div> -->
          <div class="v-label">
           <h4 data-toggle="collapse" data-target="#toggle-7"> Master of Science in Sociology</h4>
           <p id="toggle-7" class="collapse"><a href="http://gsss.uva.nl/programmes"> Graduate School of the Social Sciences</a><br>Focus on Urban and Organizational Sociology. Final thesis written about entrepreneurship among young people in Shenzhen(China); data was gathered on location. University of Amsterdam, Amsterdam, The Netherlands.</p>
         </div>
       </li>
       <li>
        <time class="v-time"><span>2010-2013</span></time>
        <!-- <div class="v-icon" data-toggle="collapse" data-target="#toggle-8"><i class="fa fa-plus"></i></div> -->
        <div class="v-label">
          <h4 data-toggle="collapse" data-target="#toggle-8">Bachelor of Science in Sociology</h4>
          <p id="toggle-8" class="collapse">
            Focus on Educational and Organizational Sociology. Final thesis written about the organizational culture of a privately held company(Institute for Social Innovation) focused on innovating government processes. University of Amsterdam, Amsterdam, the Netherlands.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</section>
