<footer>
  <div class="container">
    <div class="row">
      <!-- <div class="col-sm-6">CC0 2016 DanielGordon. No Right Reserved</div> -->
      <div class="col-sm-6 text-right">
        <div class="social">
          <a href="https://www.github.com/DanielGordon1" class="btn btn-theme"><i class="fa fa-github"></i></a>
          <a href="https://nl.linkedin.com/in/daniël-gordon-84a3766a" class="btn btn-theme"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>