<!-- Main -->
<section class="main" id="home">
 <div class="page">
  <div class="wrapper">
   <div class="container">
    <h1 class="heading">Daniel Gordon</h1>
    <p>
     <span class="hobbies">Sociologist, Entrepreneur, Ruby-ist, Freelancer, Software Developer, Music Lover. </span>
   </p>
 </div>
 <div class="arrow-down">
  <a class="scroll" href="#me" id="scroll"><i class="fa fa-angle-double-down"></i></a>
</div>
</div>
</div>
</section>
