<section id="portfolio" class="section section-solid">
  <div class="row">
   <div class="col-sm-12">
<h3 class="v-heading section-title"><i class="fa fa-folder-open-o"></i> Portfolio</h3>
    <div class="section-title-border"></div>
  </div>
</div>

  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Main -->
      <div id="main">
        <article class="thumb">
          <a href="images/portfolio/rekentuin.png" class="image"><img src="images/portfolio/rekentuin.png" alt="" /></a>
          <h2>Rekentuin</h2>
          <p></p>
        </article>
        <article class="thumb">
          <a href="images/portfolio/bodine_portfolio.jpg" class="image"><img src="images/portfolio/bodine_portfolio.jpg" alt="" /></a>
          <h2>Portfolio Bodine</h2>
          <p></p>
        </article>
        <article class="thumb">
          <a href="images/portfolio/wordsandbirds.png" class="image"><img src="images/portfolio/wordsandbirds.png" alt="" /></a>
          <h2>WordsandBirds</h2>
          <p></p>
        </article>
        <article class="thumb">
          <a href="images/portfolio/ouwetaart.jpg" class="image"><img src="images/portfolio/ouwetaart.jpg" alt="" /></a>
          <h2>Ouwe Taart</h2>
          <p></p>
        </article>
        <article class="thumb">
          <a href="images/portfolio/taalzee.png" class="image"><img src="images/portfolio/taalzee.png" alt="" /></a>
          <h2>Taalzee</h2>
          <p></p>
        </article>
        <article class="thumb">
          <a href="images/portfolio/protocol.jpg" class="image"><img src="images/portfolio/protocol.jpg" alt="" /></a>
          <h2>Protocol</h2>
          <p></p>
        </article>
      </div>
  </div>
</section>
