<!-- Skills -->
<section class="section" id="skills">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <h3 class="section-title">Skills</h3>
    <div class="section-title-border"></div>
  </div>
</div>
<div class="row personal-skills">
 <div class="col-sm-8 wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0s">
  <h4>Non-Human languages</h4>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="text-center">
        <i class="fa fa-diamond" style="font-size: 30px; padding: 10px;"></i>
        <h5>Ruby &amp; Ruby on Rails</h5>
      </div>
      <ul class="fa-ul skills-ul prog-ul">
        <li><i class="fa-li fa fa-check"></i>Ruby</li>
        <li><i class="fa-li fa fa-check"></i>Ruby on Rails</li>
        <li><i class="fa-li fa fa-check"></i>PostgreSQL</li>
        <li><i class="fa-li fa fa-check"></i>RESTful API</li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="text-center">
        <i class="fa fa-html5 prog-logo" style="font-size: 30px; padding: 10px;"></i>
        <h5>HTML &amp; CSS</h5>
      </div>
      <ul class="fa-ul skills-ul prog-ul">
        <li><i class="fa-li fa fa-check"></i>HTML5</li>
        <li><i class="fa-li fa fa-check"></i>CSS3</li>
        <li><i class="fa-li fa fa-check"></i>SASS</li>
        <li><i class="fa-li fa fa-check"></i>LESS</li>
        <li><i class="fa-li fa fa-check"></i>Bootstrap</li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="text-center">
        <img src="images/js.svg" alt="Javascript" width="50px" style="padding: 10px;">
        <h5>Javascript</h5>
      </div>
      <ul class="fa-ul skills-ul prog-ul">
        <li><i class="fa-li fa fa-check"></i>Javascript</li>
        <li><i class="fa-li fa fa-check"></i>jQuery</li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="text-center">
        <img src="images/php-logo.svg" alt="PHP" height="50px" style="padding: 10px;">
        <h5>PHP</h5>
      </div>
      <ul class="fa-ul skills-ul prog-ul">
        <li><i class="fa-li fa fa-check"></i>Wordpress</li>
        <li><i class="fa-li fa fa-check"></i>CakePHP</li>
      </ul>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <h4>Tools</h4>
      <ul class="fa-ul skills-ul">
        <li><i class="fa-li fa fa-check"></i>Git & Github</li>
        <li><i class="fa-li fa fa-check"></i>Heroku</li>
        <li><i class="fa-li fa fa-check"></i>Command Line</li>
        <li><i class="fa-li fa fa-check"></i>SCRUM</li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <h4>Hobbies</h4>
      <ul class="fa-ul skills-ul">
        <li><i class="fa-li fa fa-plane"></i>Travelling</li>
        <li><i class="fa-li fa fa-headphones"></i>Music</li>
        <li><i class="fa-li fa fa-video-camera"></i>Series</li>
        <li><i class="fa-li fa fa-book"></i>Learning new things</li>
      </ul>
    </div>
  </div>
</div>
</section>
