<!-- Cards about my travels -->
<section class="section" id="travels">
  <div class="container">
    <!-- <h2 class="text-center">Travel Destinations <i class="fa fa-paper-plane-o"></i></h2>
    <div class="section-title-border"></div>
    <div class="row">
      <div class="col-xs-12">
        <div class="card" style="background-image: url('assets/css/images/shenzhen-card.jpg');">
          <div class="card-category">
            2015
          </div>
          <div class="card-description">
            <p> I spent 3 months in South-China in Shenzhen, also dubbed the Silicon Valley of hardware to gather information for my Masters' Research into small-scale entrepreneurs. A collaboration between the International New Town Institute, the University of Amsterdam and the Shenzhen Center for Design.</p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: url('images/card-SEA.jpg');">
          <div class="card-category">
            2013/2014 - SEA
          </div>
          <div class="card-description">
            <!-- <p> From December 2013 until april 2014 I spent four months travelling through SEA visiting Thailand, Laos, Cambodia, Vietnam, Malaysia and Indonesia by bus, train, plane and motorbike. </p> -->
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: url('images/card-jamaica.jpg');">
          <div class="card-category">
            2011 - Jamaica
          </div>
          <div class="card-description">
            <!-- <p> After the first year of my Bachelor I visited my family in Jamaica for the first time in 15 years. This helped me to come closer to my roots. </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
