---
title: Daniel Gordon
---
<script src="javascripts/modernizr.min.js"></script>
<!-- Main -->
  <section class="main" id="home">
   <div class="page">
    <div class="wrapper">
     <div class="container">
      <h1 class="heading">Daniel Gordon</h1>
      <p>
       <span class="rotate">Sociologist, Entrepreneur, Ruby-ist, Freelancer, Software Developer, Music Lover. </span>
     </p>
   </div>
   <div class="arrow-down">
    <a class="scroll" href="#me" id="scroll"><i class="fa fa-angle-double-down"></i></a>
  </div>
</div>
</div>
</section>

<!-- About -->
<section id="me" class="section section-solid">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <h3 class="section-title">Me</h3>
    <div class="section-title-border"></div>
  </div>
</div>

<div class="row mt20">
 <div class="col-sm-4">
  <img src="images/daniel.jpg" class="img-responsive about-img" />
</div>
<div class="col-sm-8 wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0s">
  <p class="lead">
   I'm a Sociologist currently learning how to build web applications using Ruby on Rails.
 </p>
 <p>
  After graduating in Sociology on a thesis regarding young entrepreneurs in Shenzhen <em>(considered the Silicon Valley of hardware)</em> my interest in the the tech- and startup scene was sparked. Upon following a traineeship towards social entrepreneurship and starting my own social startup I decided I wanted to learn how to code. <a href="http://www.lewagon.org/en">Le Wagon</a> Dev bootcamp is currently giving me the tools to work in a start-up as a developer or to take my own startup to the next level.
</p>

</div>
</div>
</div>
</section>


<!-- Section -->
<section class="section">
 <div class="container">
  <div class="row">
   <div class="col-sm-12 text-center">
     <a href="https://github.com/DanielGordon1"><i class="fa fa-github" style="font-size: 80px;"></i></a>
   </div>
 </div>
</div>
</div>
</section>

<!-- Work Experience -->
<section id="work_experience" class="section section-solid">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <h3 class="v-heading section-title"><i class="fa fa-briefcase"></i> Work experience</h3>
    <div class="section-title-border"></div>
  </div>
</div>
<div class="row">
 <div class="col-sm-12">

  <ul class="v-timeline mt50">
    <li>
      <time class="v-time"><span>2015 - present</span></time>
      <div class="v-icon" data-toggle="collapse" data-target="#toggle-1"><i class="fa fa-minus"></i></div>
      <div class="v-label">
        <h4 data-toggle="collapse" data-target="#toggle-1">Social Entrepreneur</h4>
        <p id="toggle-1" class="collapse in"> Co-founder of <a href="http://ouwetaart.amsterdam">OuweTaart.amsterdam</a>, this platform is designed to bring together two groups in society that not often enough have the pleasure to spend time with each other. By facilitating the platform where demand and supply meet we hope to provide elder citizens with an increase in personal value creation and young people with the option to buy an artisanal product or service made especially for them.
        </div>
      </li>
      <li>
        <time class="v-time"><span>2015 - Present</span></time>
        <div class="v-icon" data-toggle="collapse" data-target="#toggle-2"><i class="fa fa-plus"></i></div>
        <div class="v-label">
         <h4 data-toggle="collapse" data-target="#toggle-2">Brainstormer</h4>
         <p id="toggle-2" class="collapse">Denk-Tenk is about the activation of creative and innovative thinking processes.</p>
       </div>
     </li>
     <li>
      <time class="v-time"><span>2015</span></time>
      <div class="v-icon" data-toggle="collapse" data-target="#toggle-3"><i class="fa fa-plus"></i></div>
      <div class="v-label">
       <h4 data-toggle="collapse" data-target="#toggle-3">Trainee</h4>
       <p id="toggle-3" class="collapse"><a href="http://www.starters4communities.nl">Starters4Communities</a><br> By linking starters on the Labor Market to entrepreneurial neighborhood initiatives. Building a bridge between young talent, residents, education, government, entrepreneurs, welfare &amp; businesses. Changing the world by exercising entrepreneurship in a social way with passion and own initiative.Being able to learn in practice. Learning whilst creating value for yourself, but also for another, and for society at large. By using new forms of cooperation and design thinking we innovate together; a bottom-up search for the solutions and challenges of todays world..</p>
     </div>
   </li>
   <li>
    <time class="v-time"><span>2010-2015</span></time>
    <div class="v-icon" data-toggle="collapse" data-target="#toggle-4"><i class="fa fa-plus"></i></div>
    <div class="v-label">
     <h4 data-toggle="collapse" data-target="#toggle-4">Manager/Assistant-Manager</h4>
     <p id="toggle-4" class="collapse">De Biertuin Amsterdam (Bar), Kade58 (Restaurant).</p>
   </div>
 </li>
</ul>
</section>

<!-- section -->

<section class="section">
 <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card" style="background-image: url('images/shenzhen-card.jpg');">
        <div class="card-category">
          2015
        </div>
        <div class="card-description">
          <p> I spent 3 months in South-China in Shenzhen, also dubbed the Silicon Valley of hardware, to gather information for my Masters' Research into young small-scale entrepreneurs. A collaboration between the International New Town Institute, the University of Amsterdam and the Shenzhen Center for Design.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Education -->

<section id="education" class="section section-solid">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <h3 class="v-heading section-title"><i class="fa fa-graduation-cap"></i> Education</h3>
    <div class="col-sm-12">
      <div class="section-title-border"></div>

      <ul class="v-timeline mt50">
        <li>
          <time class="v-time"><span>2016</span></time>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-6"><i class="fa fa-minus"></i></div>
          <div class="v-label">
           <h4 data-toggle="collapse" data-target="#toggle-6">Le Wagon - Fullstack Dev
            Bootcamp</h4>
            <p id="toggle-6" class="collapse in"><a href="http://www.lewagon.org/en">Le Wagon</a> is a coding school for entrepreneurs and creative people, Amsterdam, The Netherlands.</p>
          </div>
        </li>
        <li>
          <time class="v-time"><span>2014-2015</span></time>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-7"><i class="fa fa-plus"></i></div>
          <div class="v-label">
           <h4 data-toggle="collapse" data-target="#toggle-7"> Master of Science in Sociology</h4>
           <p id="toggle-7" class="collapse"><a href="http://gsss.uva.nl/programmes"> Graduate School of the Social Sciences</a><br>Focus on Urban and Organizational Sociology. Final thesis written about entrepreneurship among young people in Shenzhen(China); data was gathered on location. University of Amsterdam, Amsterdam, The Netherlands.</p>
         </div>
       </li>
       <li>
        <time class="v-time"><span>2010-2013</span></time>
        <div class="v-icon" data-toggle="collapse" data-target="#toggle-8"><i class="fa fa-plus"></i></div>
        <div class="v-label">
          <h4 data-toggle="collapse" data-target="#toggle-8">Bachelor of Science in Sociology</h4>
          <p id="toggle-8" class="collapse">
            Focus on Educational and Organizational Sociology. Final thesis written about the organizational culture of a privately held company(Institute for Social Innovation) focused on innovating government processes. University of Amsterdam, Amsterdam, the Netherlands.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</section>

<!-- Cards about my travels -->
<section class="section" id="travels">
  <div class="container">
    <!-- <h2 class="text-center">Travel Destinations <i class="fa fa-paper-plane-o"></i></h2>
    <div class="section-title-border"></div>
    <div class="row">
      <div class="col-xs-12">
        <div class="card" style="background-image: url('assets/css/images/shenzhen-card.jpg');">
          <div class="card-category">
            2015
          </div>
          <div class="card-description">
            <p> I spent 3 months in South-China in Shenzhen, also dubbed the Silicon Valley of hardware to gather information for my Masters' Research into small-scale entrepreneurs. A collaboration between the International New Town Institute, the University of Amsterdam and the Shenzhen Center for Design.</p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: url('images/card-SEA.jpg');">
          <div class="card-category">
            2013-2014
          </div>
          <div class="card-description">
            <p> From December 2013 until april 2014 I spent four months travelling through SEA visiting Thailand, Laos, Cambodia, Vietnam, Malaysia and Indonesia by bus, train, plane and motorbike. </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: url('images/card-jamaica.jpg');">
          <div class="card-category">
            2011
          </div>
          <div class="card-description">
            <p> After the first year of my Bachelor I visited my family in Jamaica for the first time in 15 years. This helped me to come closer to my roots. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- Skills -->
<section class="section" id="skills">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <h3 class="section-title">Skills</h3>
    <div class="section-title-border"></div>
  </div>
</div>
<div class="row personal-skills">
 <div class="col-sm-8 wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0s">
  <h4>Non-Human languages</h4>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="text-center">
        <i class="fa fa-diamond" style="font-size: 30px; padding: 10px;"></i>
        <h5>Ruby &amp; Ruby on Rails</h5>
      </div>
      <ul class="fa-ul skills-ul prog-ul">
        <li><i class="fa-li fa fa-check"></i>Ruby</li>
        <li><i class="fa-li fa fa-check"></i>Ruby on Rails</li>
        <li><i class="fa-li fa fa-check"></i>PostgreSQL</li>
        <li><i class="fa-li fa fa-check"></i>RESTful API</li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="text-center">
        <i class="fa fa-html5 prog-logo" style="font-size: 30px; padding: 10px;"></i>
        <h5>HTML &amp; CSS</h5>
      </div>
      <ul class="fa-ul skills-ul prog-ul">
        <li><i class="fa-li fa fa-check"></i>HTML5</li>
        <li><i class="fa-li fa fa-check"></i>CSS3</li>
        <li><i class="fa-li fa fa-check"></i>SASS</li>
        <li><i class="fa-li fa fa-check"></i>Bootstrap</li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="text-center">
        <img src="images/js.svg" alt="Javascript" width="50px" style="padding: 10px;">
        <h5>Javascript</h5>
      </div>
      <ul class="fa-ul skills-ul prog-ul">
        <li><i class="fa-li fa fa-check"></i>Javascript</li>
        <li><i class="fa-li fa fa-check"></i>jQuery</li>
      </ul>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <h4>Tools</h4>
      <ul class="fa-ul skills-ul">
        <li><i class="fa-li fa fa-check"></i>Git & Github</li>
        <li><i class="fa-li fa fa-check"></i>Heroku</li>
        <li><i class="fa-li fa fa-check"></i>Command Line</li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <h4>Hobbies</h4>
      <ul class="fa-ul skills-ul">
        <li><i class="fa-li fa fa-plane"></i>Travelling</li>
        <li><i class="fa-li fa fa-headphones"></i>Music</li>
        <li><i class="fa-li fa fa-video-camera"></i>Series</li>
        <li><i class="fa-li fa fa-book"></i>Learning new things</li>
      </ul>
    </div>
  </div>
</div>
</section>

<!-- Contact -->
<section id="contact" class="section">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <h3 class="section-title">Contact</h3>
    <div class="section-title-border"></div>
  </div>
</div>
<div class="row">
 <div class="col-sm-6">
  <p>
   Messages sent with this contact form go directly into my inbox. It is the best way to contact me.
 </p>
 <p>
  I am based in Amsterdam and available for remote freelance work.
</p>
<ul class="list-contacts">
 <li><i class="fa fa-mobile-phone"></i> (+31) 639426610</li>
 <li><i class="fa fa-map-marker"></i> Tweede Oosterparkstraat, 125a<br> Amsterdam, 1073HZ</li>
 <li><i class="fa fa-envelope-o"></i> <a href="mailto:d_gordon1@icloud.com">d_gordon1@icloud.com</a></li>
</ul>
</div>
<div class="col-sm-6">
  <form class="form-horizontal" action="https://formspree.io/d_gordon1@icloud.com" method="post" role="form" id="contactForm">
   <div class="form-group">
    <div class="col-sm-6">
     <input type="text" name="name" class="form-control" placeholder="Name">
   </div>
   <div class="col-sm-6">
     <input type="text" name="contactEmail" class="form-control" placeholder="Email">
   </div>
 </div>
 <div class="form-group">
  <div class="col-sm-12">
   <textarea name="message" class="form-control" rows="8" placeholder="Message"></textarea>
 </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <input type="text" name="_gotcha" style="display:none">
    <button type="submit" class="btn btn-theme ladda-button" data-style="expand-left">
     <span class="ladda-label">Submit</span>
   </button>
 </div>
</div>
<input type="text" name="_gotcha" style="display:none" />
</form>
</div>
</div>
</div>
</section>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="assets/js/jquery.min.js"></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- <script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrapValidator.min.js"></script>
<script src="assets/js/validator/emailAddress.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/ladda.min.js"></script>
<script src="assets/js/jquery.knob.min.js"></script> -->
